node_modules/
dist/
.env
*.log
.DS_Store
Thumbs.db

# Build & runtime
server/uploads/
astro-client/.astro/

# IDE
.idea/
.vscode/
*.sublime-*

# OS
Desktop.ini
ehthumbs.db

# Misc
*.local
coverage/
.tmp/
